name: Build FoodZone APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a1f73f3f0ae66515c18ba1ecfe581616c

      - name: Set up JDK 17
        uses: actions/setup-java@99bb5d117f3e1ccf1c2e99fdc899c1e87554846d

        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission
        run: chmod +x gradlew
      - name: Build debug APK
        run: ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@5a3c5abf8b38288541cb8b885c76f8e3338dddf

        with:
          name: FoodZone-APK
          path: app/build/outputs/apk/debug/*.apk

