name: Build FoodZone APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      

      - name: Set up JDK 17
        uses: actions/setup-java@3df4d9c1442869ce5c33ec8838ae0a533cf06f8e


        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@0a9279bf294aabd012a432f5db03b760174a7f2e
        with:
          name: FoodZone-APK
          path: app/build/outputs/apk/debug/*.apk


