name: Build FoodZone APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Set up JDK 17
        uses: actions/setup-java@603cd16edbea4c4a6b64b7e8a6e6c7bdb9c629f1
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@0a9279bf294aabd012a432f5db03b760174a7f2e
        with:
          name: FoodZone-APK
          path: app/build/outputs/apk/debug/*.apk



